<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1dMHm7FlmM1TVp3EiCKJyqbwjv2DBmIU</string>
	<key>GCM_SENDER_ID</key>
	<string>192727806596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stressShield.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stressshield-833ce</string>
	<key>STORAGE_BUCKET</key>
	<string>stressshield-833ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192727806596:ios:7c8ac4d7e325759e0908d1</string>
</dict>
</plist>